.footer {
  background-color: $color-gray-darkest;
  padding: 10rem 0;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 8rem;
  @include response(tab-port) {
    padding: 8rem 0;
  }
  &__logo-box {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    @include response(huge-screen) {
      grid-column: 1;
      align-self: start;
    }
  }
  @include response(tab-land) {
    gap: 3rem;
  }
  &__logo {
    width: 15rem;
  }
  &__text-box {
    justify-self: center;
    width: 80%;
    @include response(huge-screen) {
      width: 120%;
    }
  }
  &__nav {
    border-top: 1px solid $color-gray-dark;
    padding: 2rem;
  }

  &__list {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    list-style: none;
    @include response(huge-screen) {
      gap: 2rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      display: block;
      text-decoration: none;
      color: $color-gray-light-1;
      text-transform: uppercase;
      transition: all 0.2s;
    }
    &:hover,
    &:active {
      color: $color-primary-dark;
      box-shadow: $shadow-hover;
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright {
    justify-self: center;
    width: 80%;

    &-text {
      border-top: 1px solid $color-gray-dark-2;
      padding: 2rem;
    }
  }

  @include response(huge-screen) {
    padding: 13rem 0;
    font-size: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
